# Local configs
secret.yml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/mbcorecrd

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# os specific files
.DS_Store

# IDE specific files
.vscode

# Dependency directories (remove the comment below to include it)
# vendor/

# Other applications
vue/node_modules
vue/dist
vue/.cache
node/node_modules
node/package-lock.json
frontend/node_modules
frontend/dist
frontend/.cache
/tmpinvited
/tmppk
/tmppk2

# Build
build/**/*
ansible/inventory
ansible/hosts

